@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* html {
    height: -webkit-fill-available;
} */

/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Hansken Grotesk", sans-serif;
    height: 100%;
}

.main-card {
    max-width: 46rem;
    display: grid;
    /* grid-column: 1/ -1; */
}

.first-card {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(241, 81%, 54%);
    border-radius: 24px;

}

.second-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
}